#docker images
registry.sensetime.com/diamond/service-providers/clickhouse-all-in-one:v1.1.1
registry.sensetime.com/diamond/service-providers/clickhouse-exporter:v0.2.0
registry.sensetime.com/diamond/service-providers/clickhouse-server:v19.16.2.2
registry.sensetime.com/diamond/kubernetes-zookeeper:1.0-3.4.10
