#docker images
registry.sensetime.com/diamond/service-providers/clickhouse-broker:v0.5.0
registry.sensetime.com/diamond/service-providers/clickhouse-operator:v0.5.0
registry.sensetime.com/diamond/service-providers/clickhouse-init:v0.5.0
registry.sensetime.com/diamond/service-providers/clickhouse-exporter:v0.2.0
registry.sensetime.com/diamond/service-providers/clickhouse-server:v19.16.2.2
registry.sensetime.com/diamond/kubernetes-zookeeper:1.0-3.4.10